*{
    margin: 0;
    padding: 0;
}
:root{
    --main-color: slateblue;
    --border-color:blue;
    --border:3px solid black;
    --width: 200px;
}
h1{
    color: var(--main-color);
}
p{
    color: var(--border-color);
}
.sideNav , .blogs{
    float: left;
    height: 500px;
}
aside{
    background-color: yellowgreen;
    width:  var(--width);
}
div{
    background-color: violet;
 width:calc(100% - 2*var(--width)) ;  
}
footer{
    clear: both;
    border: var(--border);
}